
.principal {

    padding: 0 1rem;

}

.principal__content {

    gap: 1rem;
}

.principal__init {

    display: flex;
    justify-content: space-between;
}

.principal__init a {

    text-decoration: none;
    color: var(--cor-azul);
    font-size: 0.875rem;
    font-weight: 700;
}

.principal__content-produtos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.box {

    width: 9rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.box__img {

    width: 100%;
}

.box__title {
    color: var(--cor-cinza-escura);
    font-size: 0.875rem;

}

.box__price {

    color: var(--cor-cinza-escura);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

.box__link {

    color: var(--cor-azul);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}
.desktop {
    display: none;  
}
/* --- PARTE TABLET --- */
@media(min-width: 768px) {

   
}

/* --- PARTE DESKTOP --- */
@media(min-width: 1080px) {
    .principal {

        padding: 0 9rem;
    
    }
    
    .desktop {
        display: flex;  
    } 
    .principal__content-produtos {

        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        gap: 1rem;
    }
    .principal__content-produtos {
    
        width: 100%;
        padding: 0;
    }
    .box {

        width: 9rem;
    
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .box__img {
    
        width: 100%;
    }
    
    .box__title {
        color: var(--cor-cinza-escura);
        font-size: 0.875rem;
    
    }
    
    .box__price {
    
        color: var(--cor-cinza-escura);
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
    }
    
    .box__link {
    
        color: var(--cor-azul);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
    }
}